__vm/Configuration.Debug.vmps.xml
__vm/Compile.vmps.xml
Debug/ArduinoDueMagdwickAHRS-KalmanFilter.ino.map
Debug/ArduinoDueMagdwickAHRS-KalmanFilter.ino.elf
__vm/Upload.vmps.xml
ArduinoDueMagdwickAHRS-KalmanFilter.v12.suo
Debug/ArduinoDueMagdwickAHRS-KalmanFilter.log
ArduinoDueMagdwickAHRS-KalmanFilter.sln
ArduinoDueMagdwickAHRS-KalmanFilter.vcxproj
ArduinoDueMagdwickAHRS-KalmanFilter.vcxproj.filters
Debug/ArduinoD.E0417FCA.tlog/ArduinoDueMagdwickAHRS-KalmanFilter.lastbuildstate
Debug/board.buildinfo
Debug/ArduinoDueMagdwickAHRS-KalmanFilter.ino.bin
Debug/board.buildinfo